/*=====================sinegria_providers=====================*/
.provider_list{
	margin-left: -19px;
}
.providers_list_item{
	padding-top: 30px;
}
.providers_list_item:first-child{
	padding-top: 0;
}
.provider-logo{
	text-align: right;
	margin-right: -15px;
}
.provider_short_inf{padding-left: 18px;}
.short_inf_title{
	font-size: 18px;
	line-height: 24px;
	margin-top: -5px;
	padding-bottom: 10px;
}
.provider_short_inf p{
	margin-bottom: 10px;
}
.provider_link{display: block;}
.prov_btn_show_more{
	text-align: center;
	display: block;
	margin-top: 24px;
}
/*=====================sinegria_providers end=====================*/
/*=====================sinegria_provider =====================*/
.prov_titel_item{
	margin-top: -5px;
	padding-bottom: 10px;
}
.video_box{
	padding-left: 34px;
	padding-top: 38px;
}
.video_box iframe, .map iframe{
	width: 100%;
	border:none;
}

.contacts_2 dt, .contacts_2 dd {	
	display: inline-block;
}
.contacts_2{
	padding-left: 2px;
	padding-right: 10px;
}
.provider-logo2 img{width: 100%;}
/*=====================sinegria_provider end=====================*/
/*=====================sinergia_producer =====================*/
.list2_item p{
	white-space: nowrap;
	color: #fff;
	overflow: hidden;
}
.list2_item a{
	color: #FFF;
	text-decoration: none;
}
.list2_item a:hover{text-decoration: underline}
.list2_item span{
	display: inline-block;
	top: 0;
	color: #8f8d8d;
	bottom: 0;
	right: 0;
	padding-left: 20px;
	background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(30,27,27,1) 20px, rgba(31,27,27,1) 20px, rgba(31,27,27,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(20px,rgba(30,27,27,1)), color-stop(20px,rgba(31,27,27,1)), color-stop(100%,rgba(31,27,27,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(30,27,27,1) 20px,rgba(31,27,27,1) 20px,rgba(31,27,27,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(30,27,27,1) 20px,rgba(31,27,27,1) 20px,rgba(31,27,27,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(30,27,27,1) 20px,rgba(31,27,27,1) 20px,rgba(31,27,27,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(30,27,27,1) 20px,rgba(31,27,27,1) 20px,rgba(31,27,27,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#1f1b1b',GradientType=1 ); /* IE6-9 */

}
/*=====================sinergia_producer end=====================*/
/*=====================sinergia_producers =====================*/
.manufacture_list_item a{
	line-height: 28px;
	display: inline-block;
	text-decoration: none;
}
.manufacture_list_item a:hover{
	text-decoration: underline;
}
.manufacture_list{
	position: relative;
	padding-left: 36px;
}
.manufacture_list:before{
	content: attr(data-letter);
	position: absolute;
	font-size: 24px;
	text-transform: uppercase;
	left: 0;
	top: 8px;
	font-weight: 600;
}
/*=====================sinergia_producers end=====================*/
/*=====================sinergia_good =====================*/
.box_good1{
	text-align: right;
}
.box_good1 .black2_btn{
	padding:0 25px;
	/*width: 100%;*/
	border-radius: 2px;
}


.sinergia_good_table th{
	text-align: right;
	padding-right: 50px;
}
.sinergia_good_table td{
	text-align: right;
	padding-right: 50px;
}
.sinergia_good_table td:last-child{
	padding-right: 0;
}
.sinergia_good_table td div.in_basket{
	float: right;
}
.sinergia_good_table td div.in_basket:after{
	clear: both;
	content:"";
	display: block;
	height: 0;
	width: 100%;
}
/*=====================sinergia_good end=====================*/
/*=====================sinergia_order =====================*/
.personal_meneger{padding-top: 17px;}
.personal_meneger p{
	vertical-align: middle;
	margin-bottom: 0;
}
.pers_box_right{
	padding-left: 7px;
	vertical-align: middle;
}
.pers_men_name{
	font-size: 14px;
	font-weight: 600;
	display: block;
}
.pers_men_post a{
	text-decoration: underline;
}
.pers_men_post a:hover{text-decoration: none;}
.pers_men_button{
	padding-top: 8px;
}
.inf_about_order_list_item div:first-child{
	width: 245px;
	text-align: right;
	color: #A8A7A7;
	float: left;
}
.inf_about_order_list_item div:last-child{
	text-align: left;
	margin-left: 12px;
	float: left;
	margin-right: -50px;
}
.form_booking_label{
	float: left;
	text-align: right;
	width: 125px;
	margin-right: 13px;
	color: #A8A7A7;
}
.form_booking_input{
	float: left;
	text-align: left;
	color: #A8A7A7;
}
.w84{width: 84.1% !important;}
.meneg_mess_main{padding-bottom: 8px;text-align: initial;}
.meneg_mess_item h6{
	color: #1F1B1B;
	font-weight: 700;
}
.meneg_mess_item p{
	margin-bottom: 5px;
	line-height: 13px;
}
.meneg_mess_item:nth-child(even) h6{
	color: #E4373C;
}
.w60p{width: 60px;}
.link_ord_table{
	color: #A69090;
	border-bottom:1px dashed;
	display: inline-block;
}
.link_ord_table:hover{
	border-bottom: 1px solid transparent;
}
.sinergia_order_table{
	border-collapse: separate;
	border-spacing: 0 10px;
}
.sinergia_order_table th{
	color: #A8A7A7;
	font-weight: 500;
	text-align: left;
}
.sinergia_order_table td {
	text-align: left;
}
.sinergia_order_table .w1{
	width: 35px;
}
.sinergia_order_table .form_box_lb:before,.sinergia_order_table  .form_type_lb:before{
	top: 0;
	margin-top: 0;
}
.close_table{
	width: 9px;
	height: 9px;
	background: url(../images/icon/close_table.png) 0 0 no-repeat;
	display: block;
	margin-top: 5px;
}
.tab_aft_dwn:after{
	content: "";
	padding-left: 10px;
	background: url(../images/icon/arrow_tab.png) 4px 8px no-repeat;
}
.sinergia_order_table .rub{
	line-height: 22px;
}
.button_under_tab{
	padding-top: 30px;
	padding-bottom: 15px;
}
.button_under_tab .right_col_bt .butn_box{
	margin-left: 16px;
	display: inline-block;
}
.white_bd_lk_2 {
	border: 2px solid #cbcbcb;
	color: #CBCBCB;
	background-color: transparent;
	border-radius: 5px;
	padding: 0 10px;
	line-height: 30px;
	font-weight: 700;
}
.white_bd_lk_2:hover{
	color: #1F1B1B;
	border: 2px solid #1F1B1B;
}
.print_but{
	padding:0 20px 0 30px !important;
	background: url(../images/icon/print.png) 12px 9px no-repeat;
}
.print_but:hover{
	background: #1f1b1b url(../images/icon/print_hov.png) 12px 9px no-repeat;
	
}
.black2_btn_2{
	background-color: #1f1b1b;
	color: #fff;
	height: 32px;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
	border: 2px solid #1f1b1b;
	font-weight: 700;
	padding: 0 12px;
}
.black2_btn_2:hover{
	border: 2px solid #1f1b1b;
	background: none;
	color: #1F1B1B;
}
.cash{width: 232px;}
.cash_link{
	display: block;
	text-decoration: none;
	font-size: 14px;
	line-height: 20px;
	font-weight: 700;
}
.cash_link:hover{text-decoration: underline;}
.cash_day{
	font-style: italic;
	font-size: 13px;
	line-height: 20px;
	margin-bottom: 10px;
	color: #A69090;
}
.cash_item:last-child .cash_day{margin-bottom: 0;}
.ml_{
	margin-left: -38px;
}
.box_good1{padding-left: 60%;}
.box_good1 .white_btn{width: 100%;}
/*=====================sinergia_order end=====================*/
/*=====================responsive =====================*/
@media (max-width: 1440px) and (min-width: 1170px){
	/*.inf_about_order_list {
		margin-left: 50px;
	}*/
	.inf_about_order_list_item div:first-child{
		width: 225px;
	}

	/*.form_booking{margin-left: 170px;}*/
	.sinergia_order_table{
		border-spacing: 10px 10px;
	}
}
@media (max-width: 1399px) and (min-width: 1170px){
	.mt-20_1400{margin-top: 15px !important;}
	.form_booking{margin-left: 98px;}
	.box_good1_img{width: 100%;}
	.box_good1_item1{padding-left: 0 !important;}
	.box_good1 .black2_btn{
		width: 100%;
		padding: 0;
	}
	
}
@media (max-width: 1230px) and (min-width: 1170px){
	.inf_about_order_list_item div:first-child{
		width: 187px;
	}
	.form_booking{margin-left: 60px;}
	.header_cel3{
		width: 0;
		text-align: left !important;
	}
	.header_table{width: 98% !important;}
	.sinergia_order_table .w1 {
		width: auto;
	}
	.sinergia_order_table{width: 98%;}
	.button_under_tab{
		width: 95%;
		margin-left: 18px;
	}
	.video_box{
		padding-left: 0;
		padding-top: 0;
	}
	.contacts_2{padding: 0;}
	.ml_ {
		margin-left: -28px;
	}
	.mr30_1170{margin-right: 30px;}
}
@media (max-width: 1200px) and (min-width: 1170px){
	.video_box iframe{
		height: 290px;
		
	}
	.ml_ {
		margin-left: -60px;
	}
	.sinergia_good_table th {
		padding-right: 45px;
	}
}
@media (max-width: 1171px) and (min-width: 1170px){
	.inf_about_order_list_item div:first-child{
		width: 187px;
	}
	.form_booking{margin-left: 60px;}
	.header_cel3{
		width: 0;
		text-align: left !important;
	}
	.header_table{width: 98% !important;}
	
}
/*=====================responsive end=====================*/
