.bg_black{
	background-color:#1f1b1b;
}
.op50{opacity: .5;}
.red_btn{
	background-color:#e4373c;
	color:#fff;
	padding: 0 14px;
	border: none;
	border-radius:5px;
	font-weight: 700;
	line-height: 32px;
}
.red_btn:hover{
	background:#888;
}
.black_btn{
	background-color: #1f1b1b;
	color:#fff;
	border-radius:5px;
	line-height: 22px;
	border:1px solid #fff;
	padding: 0 12px;
	font-weight: 600;
}
.black_btn:hover{
	background-color:#fff;
	color: #1f1b1b;
}
.white_btn, .white_btn1{
	background-color:transparent;
	padding: 0 12px;
	border-radius: 5px;
	line-height: 22px;
	font-weight: 600;
}
.white_btn{
	border: 1px solid #1f1b1b;
}
.white_btn1{
	border: 2px solid #1f1b1b;
	height: 32px;
}
.white_btn:hover, .white_btn1:hover{
	background-color:#1f1b1b;
	color: #fff;
}
[class*="_btn"]{
	display: inline-block;
	outline: none;
	cursor: pointer;
}
.active.add_btn{
	display:block;
}
.active.in_basket{
	display: none;
}
.add_btn{
	display:block;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}

.black2_btn{
	background-color: #1f1b1b;
	color:#fff;
	padding:0 11px;
	line-height: 24px;
	border: none;
}
.black2_btn:hover{
	background-color: #888;
}
.black3_btn{
	border:none;
	background: transparent;
	text-decoration: underline;
}
.black3_btn:hover{
	text-decoration: none;
}
.in_basket, .update_box{
	width:100%;
}
.in_basket input, .update_box input{
	display: inline-block;
	width: 45px!important;
	border-radius:5px 0 0 5px!important;
}
.update_box input[type="text"]{
	border:2px solid #e4373c;
	padding: 4px 10px;
}
.in_basket button, .update_box button{
	border-radius: 0 5px 5px 0;
	width:calc(100% - 44px);
	margin-left: -5px;
}
.in_basket button:hover,.in_basket button.active{
	background-color:#cbcbcb;
}
/*-----links----*/
[class*="_lk"]{
	outline: none;
	cursor: pointer;
	display: inline-block;
}
.white_lk{
	color:#fff;
}
.white_lk:hover{
	text-decoration: underline;
}
.white_bd_lk{
	border: 2px solid #1f1b1b;
	background-color:transparent;
	border-radius:5px;
	padding: 0 10px;
	line-height: 28px;
	font-weight: 600;
}
.white_bd_lk:hover{
	border: 2px solid #cbcbcb;
}
.whiteUnder_lk{
	color: #fff;
	text-decoration: underline;
	line-height: 26px;
}
.whiteUnder_lk:hover{
	color: #999999
}
.black_lk{
	text-decoration: underline;
}
.www_lk{
	line-height: 24px;
	padding-left: 20px;
	display: inline-block;
	background: url(../images/icon/www.png) 0 50% no-repeat;
	text-decoration: underline;
}
[class*="product_lk"]{
	padding-left: 15px;
	line-height: 24px;
	margin-right: 15px;
}
[class*="product_lk"]:hover{
	color: #e4373c;
}
.product_lk1{
	background: url(../images/icon/plus.png) 0 50% no-repeat;
}
.product_lk2{
	background: url(../images/icon/question.png) 0 50% no-repeat;
}
.product_lk3{
	background: url(../images/icon/attention.png) 0 50% no-repeat;
}
.product_lk4{
	background: url(../images/icon/print.png) 0 50% no-repeat;
}
/*---form elements----*/
table{
	width: 100%;
}
input[type="text"], input[type="tel"], input[type="password"]{
	width: 100%;
	padding:5px 10px;
	line-height: 20px;
	border:1px solid #f4f4f4;
	border-radius:5px;
	outline: none;
	display:inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow:inset 2px 0px 2px #dadada,inset -2px 3px 6px #dadada;
	-webkit-box-shadow:inset 2px 0px 2px #dadada,inset -2px 3px 6px #dadada;
	-moz-box-shadow:inset 2px 0px 2px #dadada,inset -2px 3px 6px #dadada;
	background: #fbfbfb;
}
textarea{
	width: 100%;
	outline: none;
	border-radius:5px;
	box-shadow:inset 2px 0px 2px #dadada,inset -2px 3px 6px #dadada;
	-webkit-box-shadow:inset 2px 0px 2px #dadada,inset -2px 3px 6px #dadada;
	-moz-box-shadow:inset 2px 0px 2px #dadada,inset -2px 3px 6px #dadada;
	border:1px solid #f4f4f4;
	resize:vertical;
	overflow: hidden;
	padding:5px 10px;
}
input[type="checkbox"], input[type="radio"]{
	display:none;
}
label{
	display: inline-block;
	line-height: 32px;
}
.form_box_text{
	padding-right: 15px;
	width:25.5%;
	text-align: right;
}
.form_box_text span{
	padding-left: 5px;
}
.w15{
	width: 14.5%;
}
.w20{width:20%;}
.w21{
	width:21% !important;
}
.w23{
	width:23%;
}
.w26 {
	width: 26.5% !important;
}
.w30{
	width:30%;
}

.w43{
	width:43%;
}
.w46{
	width: 46%;
}
.w52{
	width: 52.7%;
}
.w65{
	width: 65%;
}
.w70{
	width: 70%;
}
.w77{width: 77%;}
.invalid span{
	background-color:#e4373c;
	color: #fff;
	padding: 6px 12px;
	display:inline-block;
	border-radius:0 5px 5px 0;
	margin-left: -7px;
}
.invalid input{
	border: 2px solid #e4373c;
	box-shadow:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	padding: 4px 10px;
}
.update_btn{
	background:url(../images/icon/update.png) 0 50% no-repeat #fff;
	border: none;
	padding:6px 15px;
	
}
.form_box_code{
	width: 65px;
	line-height: 32px;
	height: 32px;
	vertical-align: middle;
}
.form_box_lb, .form_type_lb{
	cursor: pointer;
}
.form_box_lb:before, .form_type_lb:before{
	content: "";
	width: 20px;
	height: 20px;
	position: relative;
	top:2px;
	display: inline-block;
	margin:5px 10px 0 0;
}
.form_box_lb:before{
	background:url(../images/icon_check.png) 0 bottom no-repeat;
}
input[type="checkbox"]:checked+.form_box_lb:before{
	background-position: 0 top;
}
.form_type_lb:before{
	background:url(../images/icon/radio.png) 0 bottom no-repeat;
}
input[type="radio"]:checked+.form_type_lb:before{
	background-position: 0 top;
}
.form_type_lb + span{
	padding-left: 30px;
	margin-top:-10px;
}
.form_type_lb > span{
	padding-left: 10px;
}
.main_select .active_option, .search_select_inner{
	position: relative;
	padding: 6px 10px;
}
.main_select .active_option:after{
	content: "";
	display: inline-block;
	height: 32px;
	position:absolute;
	right:0;
	top:0;
	background: url(../images/icon/select_arrow.png) 50% -15px no-repeat;
	border-left: 1px solid #e9e9e9;
}
.main_select .active_option:after{
	width: 32px;
}
.search_select_inner .active_option:after{
	width: 24px;
}
.main_select, .search_select_inner{
	padding:0;
	border-radius:5px;
	background: #fff;
}
.main_select{
	box-shadow:inset 2px 0px 2px #dadada,inset -2px 3px 6px #dadada;
	-webkit-box-shadow:inset 2px 0px 2px #dadada,inset -2px 3px 6px #dadada;
	-moz-box-shadow:inset 2px 0px 2px #dadada,inset -2px 3px 6px #dadada;
}
.main_select ul, .search_select_inner ul{
	background-color: #fff;
	width: 100%;
	z-index: 10;
	-webkit-backface-visibility: hidden;
	margin: 0;
	list-style-type:none;
	padding-left: 0;
	box-shadow:inset -1px 0px 2px #dadada,inset 1px -1px 2px #dadada;
	-webkit-box-shadow:inset -1px 0px 2px #dadada,inset 1px -1px 2px #dadada;
	-moz-box-shadow:inset -1px 0px 2px #dadada,inset 1px -1px 2px #dadada;

}
.main_select li, .select_city li{
	padding: 5px 0 5px 10px;
}
 .search_select_inner li{
 	padding-left: 10px;
 	text-align: left;
 }
.main_select li a, .search_select_inner li a{
	display:block;
}
.main_select li:last-child, .select_city li:last-child{
	padding: 5px 0 15px 10px;
}
.search_select_inner li:last-child{
	padding: 0 0 5px 10px;
}
.main_select li:hover, .select_city li:hover,  .search_select_inner li:hover{
	background-color:#dadada;
}

[class*="discount_item"]{
	display: inline-block;
	color: #1f1b1b;
	position: relative;
	padding-bottom: 6px;
}
[class*="discount_item"]:after{
	content:"";
	display: block;
	width: 1px;
	height: 17px;
	background-color:#d1d1d1;
	bottom:0;
	left: 100%;
	position:absolute;
}
.discount_item5:after{
	display: none;
}
.discount_item1{
	width: 13%;
}
.discount_item2{
	width: 16%;
}
.discount_item3{
	width: 16.5%
}
.discount_item4{
	width: 22%
}
.discount span{
	line-height: 15px;
}
.discount_range{
	height: 21px;
	border-radius: 8px;
	-webkit-box-shadow: inset 2px 0px 2px #dadada,inset -2px 3px 6px #dadada;
	box-shadow: inset 2px 0px 2px #dadada,inset -2px 3px 6px #dadada;
	-moz-box-shadow: inset 2px 0px 2px #dadada,inset -2px 3px 6px #dadada;
	padding:3px 5px;
}
.ruble, .ruble1{
	border-bottom: 1px solid #1f1b1b;
}
.ruble{
	margin-top: -7px;
}
.ruble1{
	margin-top: -2px;
}
.discount_range_box{
	top:5px;
	left: 8px;
	right: 8px;
	bottom: 5px;
}
.counter_line{
	font-weight: 700;
	color: #e4373c;
}
.discount_range_line{
	height: 8px;
	background-color: #e4373c;
	width: 10%;
	border-radius: 6px 3px 3px 6px;
	margin-top: -3px;
}