/*================news================*/
.general{
	padding: 0 0 0 27px;
}
.news_data strong {
	display: block;
	font-size: 24px;
	line-height: 24px;
}
.news_data{
	color: #000;
	text-align: center;
	font-weight: 700;
	font-size: 12px;
	line-height: 14px;
	padding-right: 14px;
}

/*================news================*/
/*=================================news_inner===============================*/
.news_data_general{
	color: #000;
	text-align: right;
	font-weight: 700;
	font-size: 24px;
	line-height: 25px;
	margin-top: -9px;
}
.news_data_general strong {
	display: block;
	font-size: 48px;
	line-height: 50px;
}
/*=================================news_inner===============================*/
/*================================sinergi_catalog================================*/
 .list4_item a{
	color: #1f1b1b;
	text-decoration: none;
 }
 .list4_item a:hover {
	text-decoration: underline;
}
 .list4_item p {
	white-space: nowrap;
	color: #fff;
	overflow: hidden;
}
 .list4_item span{
	display: inline-block;
	top: 0;
	color: #b3b2b2;
	bottom: 0;
	right: 0;
	padding-left: 50px;
	background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 73%, rgba(255,255,255,1) 100%); 
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(73%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); 
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 73%,rgba(255,255,255,1) 100%); 
	background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 73%,rgba(255,255,255,1) 100%); 
	background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 73%,rgba(255,255,255,1) 100%); 
	background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 73%,rgba(255,255,255,1) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); 
}

/*================================sinergi_catalog===============================*/
/*=================================sinergy_cart===========================================*/
.card_table_iner .form_box_lb:before{
	top: 0;
	margin: 0 10px 0 0;
}
.card_table_iner{
border-collapse: separate;
border-spacing: 0 20px;
}
.title_fs{
  font-size:14px;
  line-height: 24px;
  color:#e4373c;
}
.title_fs_blec{
  font-size:14px;
  line-height: 24px;
  color:#1f1b1b;
}
.box_boton_input{
	width: 240px;
}
.form_reg .white_bd_l_1,.form_reg .red_bt_1{
	width: 100%;
	text-align:center;
}
/*=================================sinergy_cart===========================================*/