﻿
.resp-tabs-list{
    padding-left: 0;
    margin-bottom: 0;
    width: 100%;
}
.history_tabs .resp-tabs-list{
    width: 48.5%;
    margin-left:15%;
    margin-top: -50px;
}
.resp-tab-item{
    display:block;
    float: left;
    padding: 15px 0;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.5px;
}

.resp-tabs-list li:hover,
.resp-tabs-list li.current{
  
}
.resp-tabs-list li.current a,
.resp-tabs-list li:hover a{color: #fff;}

.resp-tabs-list li:first-child{
    
}
.resp-tabs-container {
    padding: 0px;
    clear: left;
}
h2.resp-accordion {
    cursor: pointer;
    display: none;
}
.resp-tab-content {
    display: none;
    padding-top: 30px;
}
.resp-tab-active {
    border-bottom: none;
    background-color: #fff!important;
    -webkit-box-shadow:none;
    box-shadow:none;
}

.resp-content-active, .resp-accordion-active {
    display: block;
}
/*.resp-tab-content {
    
}*/

h2.resp-accordion {
    font-size: 13px;
    border-top: 2px solid #ececec;
    color: #998972;
    background-color: #fff;
    margin: 0px;
    padding: 14px 10px;
    text-transform: uppercase;
}

/*-----------Accordion styles-----------*/
h2.resp-tab-active {
    background-color: #414141;
    color: #fff;
    font-size: 15px;
    line-height: 17px;
    text-transform: uppercase;
    padding: 18px 13px;
}
.resp-easy-accordion  h2.resp-accordion {
    display: block;
   
}
.resp-easy-accordion .resp-tab-content {
    border: 1px solid #c1c1c1;
}

.resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1 !important;
}

.resp-jfit {
    width: 100%;
    margin: 0px;
}

.resp-tab-content-active {
    display: block;

}

h2.resp-accordion:first-child {
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/

