/*==================================RESPONSIVE LAYOUTS===============================================*/
@media (max-width: 1500px){
	.resp-list_item2{padding-right: 1%;}
	.red_btn, .white_btn, .white_btn1{padding: 0 8px;}
	.footer_list.f_right{float: none;}
	.providers_slider_item img{max-width: 100%;}
	.providers_slider_item a{
		padding: 0 20px;
	}
	.main_slider_img{line-height: 400px;vertical-align: bottom;}
	
	.main_slider_img img{max-height: 100%;}
	[class*="ordering_list_item"]{width: 22%;}
	.box_good1{padding-left: 57%;}

}
@media (max-width: 1440px){ 
	.header_red_bg{
		width: calc(50% - 535px);
	}
 	.red_btn, .white_btn, .white_btn1{padding: 0 5px;}
 	.resp-list_item1{
 		background: url(../images/icon/orders_lk.png) 5% 45% no-repeat;
 		padding-right: 10px;
 	}
 	.resp-tab-active.resp-list_item1 {background: url(../images/icon/orders_lkactive.png) 5% 45% no-repeat;}
 	.resp-list_item2{
 		background: url(../images/icon/history.png) 3% 45% no-repeat;
 		padding-right: 1%;
 	}
 	.resp-tab-active.resp-list_item2{
		background: url(../images/icon/history.png) 3% 45% no-repeat;
	}
	.resp-tab-active.resp-list_item3 {
		background: url(../images/icon/user_active.png) 3% 45% no-repeat;
	}
	.resp-list_item3{
		background: url(../images/icon/user.png) 3% 45% no-repeat;
		padding-left: 5%
	}
}

@media (max-width: 1399px){
	.order_tb .col3{width: 7%;}
	.order_tb .col4{width: 9%;}
	.order_tb .col5{width: 13%;}
	.order_tb .col9{width: 6%;}
	.order_tb .col6{text-align: center;}
	.resp-list_item1{
	 	background: url(../images/icon/orders_lk.png) 0 45% no-repeat;
	 	padding-right: 5px;
	 	width: 30%;
	 }	
	 .resp-tab-active.resp-list_item1 {background: url(../images/icon/orders_lkactive.png) 0 45% no-repeat;padding-right: 0;}
	 .resp-list_item2{
	 	background: url(../images/icon/history.png) 10px 45% no-repeat;
	 	padding-right:3px;
	 	width: 40%;
	 }
	 .resp-tab-active.resp-list_item2{
		background: url(../images/icon/history.png) 10px 45% no-repeat;
	}
	.resp-tab-active.resp-list_item3 {
		background: url(../images/icon/user_active.png) 3% 45% no-repeat;
	}
	.resp-list_item3{
		background: url(../images/icon/user.png) 3% 45% no-repeat;
		width: 30%;
	}
	.box_good1 .white_btn{letter-spacing: -1px;}
	.active.catalog_list{
		width: 230px;
		background-color:#e4373c;
		border-radius: 0 10px 10px 0;
	}
	.active.catalog_hidden{
		width:230px!important;
	}
	.catalog_hidden .catalog_title:after{
		margin: 5px 0 0 40px;
	}
}

@media (max-width: 1200px){
	.sorting_box{margin-right: 10px;}
	.sorting_btn, .sorting_btn2{right:20px;}
	.catalog_box.catalog_hidden{width:calc(100% - 20px);}
	.catalog_box:before{right:-10px!important;}
	.pdf_type_btn{background: none;}
	.catalogMain{width: 170px;z-index: 1;}
}

