.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	padding: 6px 8px;
	width:100%;
	background:#fff;
	height:21px;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
	box-shadow:inset 2px 0px 2px #dadada,inset -2px 3px 6px #dadada;
	-webkit-box-shadow:inset 2px 0px 2px #dadada,inset -2px 3px 6px #dadada;
	-moz-box-shadow:inset 2px 0px 2px #dadada,inset -2px 3px 6px #dadada;
}
.skillbar-title {
	width:100px;
	font-weight:bold;
	font-size:13px;
	color:#e4373c;
}
.skillbar-title>span {
	display:inline-block;
	padding:0 5px;
	height:9px;
	line-height:9px;
}
.skillbar-bar {
	height:9px;
	width:0px;
	background:#e4373c;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	
}
.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:18px;
	line-height:18px;
	color:rgba(0, 0, 0, 0.4);
}