@import "../css/animate.css";
@import "../css/owl.carousel.css";
@import "../css/ion.rangeSlider.css";
@import "../css/components.css";
@import "../css/skillbar.css";
@import "../css/easy-responsive-tabs.css";
@import "../css/glDatePicker.css";
@import "../css/jquery.mCustomScrollbar.css";
@import "../rub/style.css";
@import "../css/responsive.css";
@import "../css/sveta.css";
@import "../css/dilya.css";
@import "../css/alex.css";
@import "../css/responsive.css";
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block}mark,rp,rt,ruby,summary,time{display:inline}
/* Global properties ======================================================== */
html {width:100%}

body {
  line-height:20px;
  color:#1f1b1b;
  background-color:#fff;
  min-width:1170px;
}
.wrapper1{
  overflow-x:hidden;
}
.container-fluid{
  max-width: 1570px;
  min-width: 1170px;
  margin: 0 auto;
}
.rub{
  display: inline-block;
  font-family: 'als_rublregular', Open Sans, sans-serif;
}
/*----------------------> Links And buttons <------------------*/

a {
  color:#;
  outline:none;
  cursor:pointer;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
a:hover{
  color: #;
  text-decoration:none;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.button_link1{
  display: inline-block;
  font-size: 13px;
  line-height: 16px;
  padding: 8px 18px;
  color: #1f1b1b;
  font-weight: 700;
  background-color: #fff;
  border-radius: 4px;
}

.button{
  display:inline-block;
  padding:0 0 0 0;
  margin: 0 0 0 0;
  font-size: px;
  line-height: px;
  color:#;
 }
.button:hover{
  background:;
  color:#000;
}

/*----------------------> Basic Classes <------------------*/
.reg {text-transform:uppercase}
.f_left {float:left}
.f_right {float:right}
.al_left {text-align:left}
.al_right {text-align:right}
.al_center {text-align:center}
.al_just{text-align:justify;}
.bold{font-weight: 700;}
.semi_bold{font-weight: 600;}
.it{font-style:italic}
.let{letter-spacing:-1px}
.let1{letter-spacing:-0.8px}
/*----------------------> Indents Zero <------------------*/

.m_bot_zero{ margin-bottom:0 !important;}
.m_left_zero{ margin-left:0 !important;}
.p_bot_zero{ padding-bottom:0 !important;}
.p_left_zero{ padding-left:0 !important;}

/*----------------------> Positions <------------------*/
.p_abs{position: absolute;}
.p_rel{position: relative;}
.p_fix{position: fixed;}
.clear {clear:both;width:100%;line-height:0;font-size:0;}
.wrapper {overflow:hidden}
.clearfix:after{
  content:"";
  display: block;
  width: 100%;
  height: 0;
  clear:both;
}
.f_elem *:first-child{margin-top: 0 !important;}
.f_elem1 *:first-child{margin-top: 0 !important;border: none !important;}

.bg_none{ background:none !important;}

/*----------------------> Displays <------------------*/

.d_block{ display:block;}
.d_ib{ display:inline-block;}
.d_none{display: none;}
.d_tb{display: table;}
.d_tc{display: table-cell;}

/*----------------------> Basic Colors <------------------*/
.red{color: #e4373c;}
.gray{color: #cbcbcb;}
.gray2{color: #C7C6C6;}
.gray3{color: #A8A7A7;}
.white{color: #fff;}
.braun{color: #888;}
.black{color: #1f1b1b;}
.main_page .black{color: #fff;}


/**/
p{margin-bottom: 15px;}
/*----------------------> Displays <------------------*/

.bdr5{
  -webkit-border-radius: 5px !important;
          border-radius: 5px !important;
}
.d_in-block{ display:inline-block;}
.val_mid{vertical-align: middle;}
/*=====================> indents ========================*/

/*top*/

.pt28{padding-top: 28px;}
.pt35{padding-top: 35px;}
.pt40{padding-top: 40px;}

.mt-20{margin-top: -20px;}
.mt-20_1400{margin-top: -20px;}
.mt20{margin-top: 20px;}
.mt30{margin-top: 30px;}
.mt-6{margin-top: -6px;}
.mt-96{margin-top: -96px;}
/*bottom*/

.mb2{margin-bottom: 2px;}
.mb4{margin-bottom: 4px;}
.mb6{margin-bottom: 6px;}
.mb8{margin-bottom: 8px;}
.mb9{margin-bottom: 9px;}
.mb10{margin-bottom: 10px;}
.mb15{margin-bottom: 15px;}
.mb16{margin-bottom: 16px;}
.mb20{margin-bottom: 20px;}
.mb25{margin-bottom: 25px;}
.mb30{margin-bottom: 30px;}
.mb38{margin-bottom: 38px;}
.mb40{margin-bottom: 40px;}
.mb48{margin-bottom: 48px;}

.pb5{padding-bottom: 5px;}
.pb8{padding-bottom: 8px;}
.pb13{padding-bottom: 13px;}
.pb16{padding-bottom: 16px;}
.pb18{padding-bottom: 18px;}
.pb20{padding-bottom: 20px;}
.pb26{padding-bottom: 26px;}
.pb32{padding-bottom: 32px;}
.pb45{padding-bottom: 45px;}

/*left*/
.pl38{padding-left: 38px;}
.pl163{padding-left: 163px;}
.ml8{margin-left: 8px;}
.ml10{margin-left: 10px;}
.ml30{margin-left: 30px;}
.ml32{margin-left: 32px;}
.ml100{margin-left: 100px;}
.ml160{margin-left: 160px;}
/*right*/
.mr-15{margin-right: -15px;}
.mr-20{margin-right: -40px;}
.mr-40{margin-right: -60px;}
/*=====================> Lists ========================*/
.list1{}
.list1_item{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list1_link{}

.list2{}
.list2_item{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list2_link{}

.list3{}
.list3_item{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list3_link{}

/*=====================> Titles ========================*/
h2,h3,h4{
  font-weight:normal;
}
.title1{
  font-size:24px;
  line-height: 30px;
  font-weight: 600;
}

.title2{
  font-size:24px;
  line-height: 30px;
  color:#fff;
  font-weight: 600;
}
.title3{
  font-size:14px;
  line-height: 24px;
  color:#fff;
}
.title4{
  font-size:18px;
  line-height: 24px;
}
.title5{
  font-size:14px;
  line-height: 20px;
}
.td_und{text-decoration: underline;}
.td_und:hover{text-decoration: none;}
/*======================> Header <======================*/

header {
  background: url(../images/header_bg.jpg) 0 36px repeat-x;
  position: relative;
  z-index: 102;
}

.header_table{
  display: table;
  width: 100%;
}
[class*="header_cel"]{
  display: table-cell;
}
.header_cel1{
  width: 16.66666667%;
  padding: 0 15px; 
}
.header_cel2{
  padding: 0 15px;
}
.header_cel3{
  width: 1%;
  white-space: nowrap;
  padding: 0 15px;
}
.logo a{
  font-size: 0;
}
.header_red_bg{
  background-color: #e4373c;
  position: absolute;
  top: 0;
  left: 0;
  height: 36px;
  width: calc(50% - 550px);
}
.header_top{
  height: 36px;
  padding-top: 6px;
  font-size: 13px;
  line-height: 24px;
}
.request_call .drop_down_btn{
  padding: 0 10px;
  color: #fff;
  background-color: #1f1b1b;
  font-weight: 600;
  border-radius: 2px;
}
.main_page .request_call .drop_down_btn{
  color: #1f1b1b;
  background-color: #fff;
}
.tel_number{
  font-size: 16px;
  font-weight: 700;
  padding-right: 8px;
}

.select_city{
  position: relative;
  background-color: #e4373c;
  font-size: 13px;
  line-height: 28px;
  font-weight: 600;
  color: #fff;
  padding: 3px 0;
}

.select_city .active_option{cursor: pointer;}
.select_city .active_option:before{
  content: "";
  display: inline-block;
  width: 10px;
  height: 13px;
  margin-right: 4px;
  margin-top: 8px;
  background: url(../images/select_city_icon.png) 0 0 no-repeat;
}
.select_city .active_option:after{
  content: "";
  display: inline-block;
  width: 7px;
  height: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  background: url(../images/select_city_after.png) 0 0 no-repeat;
}
.select_city .dropdown{
  background-color: #fff;
  width: 200px;
  -webkit-backface-visibility:hidden;
}

/*select*/
.custom_select{position: relative;}
.dropdown{
  position: absolute;
  top: 100%;
  display: none;
}
.custom_select.active .dropdown{display: block;}

/*dropdown*/
.drop_down_box{position: relative;}
.drop_down, .drop_up, .drop_down_type{
  position: absolute;
  opacity: 0;
  visibility: hidden;
  z-index: 9;
  backface-visibility: hidden;
  -moz-transform: rotateY(10deg) rotateX(70deg);
  -webkit-transform: rotateY(10deg) rotateX(70deg);
  -o-transform: rotateY(10deg) rotateX(70deg);
  -ms-transform: rotateY(10deg) rotateX(70deg);
  transform: rotateY(10deg) rotateX(70deg);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 100% 0;
}
.drop_down, .drop_down_type{top: 100%;}
.drop_down_type, .drop_down_type.drop_down_right{
   -moz-transform: rotateY(90deg);
  -webkit-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  transform: rotateY(90deg);
  -webkit-transform-origin: 100% 0%;
  -webkit-backface-visibility:hidden;
}
.drop_up,.drop_up.drop_down_right{
  bottom: 40px;
  right: 0;
   -moz-transform: rotateY(90deg);
  -webkit-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  transform: rotateY(90deg);
  -webkit-transform-origin: 100% 100%;
  -webkit-backface-visibility:hidden;
}
.drop_down.drop_down_right, .drop_down_type.drop_down_right{right: 0;}

.log_in_link .drop_down.drop_down_right,.log_in_link .drop_up.drop_down_right{right: -9px;}

.active.drop_down_box .drop_down,.active.drop_down_box .drop_up, .active.drop_down_box .drop_down_type{
  -moz-transform: rotate(0);
  -webkit-transform: rotate(0);
  -o-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/*log in*/

.log_in_box{
  font-size: 13px;
  line-height: 24px;
  padding: 6px 0;
  white-space: normal;
}
.log_in_box .drop_down_btn{
  padding: 0 14px;
  margin: 0 -9px;
  border-radius: 2px 2px 0 0;
}
.log_in_box .drop_down_btn{}
.log_in_box .log_in_link.active .drop_down_btn{
  background-color: #fff;
  color: #1f1b1b;
}
/*basket*/
.basket_box{padding: 14px 0;}

.basket_icon{
  display: inline-block;
  width: 15px;
  height: 30px;
  background: url(../images/basket_icon.png) 0 55% no-repeat;
}
.header_top_link1{
  padding-left: 15px;
}
.that_order .drop_down_btn{
  border: 1px solid #1f1b1b;
  border-radius: 2px;
  padding: 0 10px;
  font-weight: 600;
}
.main_page .that_order .drop_down_btn{
  border-color: #fff;
}
.that_order.active .drop_down_btn{
  border-color: #fff;
  background-color: #fff;
  color: #1f1b1b;
  border-radius: 2px 2px 0 0;
}
.request_call.active .drop_down_btn{
  background-color: #fff;
  color: #1f1b1b;
  border-radius: 2px 2px 0 0;
}
.request_call .drop_down,
.that_order .drop_down{width: 283px;}
.log_in_link .drop_down{width: 240px;}
.log_inner .white_btn{
  line-height:30px;
}
.search_box{
  margin-top: 14px;
}
.search_select{
  width: 110px;
  text-align: center;
  top: 0;
  left: 0;
  line-height: 30px;
  border: 1px solid #f4f4f4;
  color: #1f1b1b;
  background-color: #fff;
  border-radius: 4px 0 0 4px;
  box-shadow: inset 2px 0px 2px #dadada, 2px 0 2px rgba(218,218,618,0.5), 3px 0 2px rgba(218,218,218,4.3), 4px 0 2px rgba(218,218,218,0.2);
  -webkit-box-shadow: inset 2px 3px 2px #dadada, 2px 0 2px rgba(218,218,618,0.5), 3px 0 2px rgba(218,218,218,4.3), 4px 0 2px rgba(218,218,218,0.2);
  -moz-box-shadow: inset 2px 3px 2px #dadada, 2px 0 2px rgba(218,218,618,0.5), 3px 0 2px rgba(218,218,218,4.3), 4px 0 2px rgba(218,218,218,0.2);
}
.search_select_inner .active_option:after{
  content: "";
  display: inline-block;
  width: 7px;
  height: 10px;
  background: url(../images/select_arow.png) 0 50% no-repeat;
  margin-left: 5px;
}
input[type="text"].search_input{
  padding: 5px 100px 5px 128px;
  color: #1f1b1b;
}
.seach_btn{
  top: 0;
  right: 0;
  width: 88px;
  height: 32px;
  line-height: 30px;
  color: #1f1b1b;
  font-weight: 700;
  background-color: #fff;
  border: 1px solid #f4f4f4;
  border-radius: 0 4px 4px 0;
  box-shadow: inset -2px 0px 2px #dadada, -2px 0 2px rgba(218,218,218,0.6), -3px 0 2px rgba(218,218,218,0.4), -4px 0 2px rgba(218,218,218,0.2);
  -webkit-box-shadow: inset -2px 3px 2px #dadada, -2px 0 2px rgba(218,218,218,0.6), -3px 0 2px rgba(218,218,218,0.4), -4px 0 2px rgba(218,218,218,0.2);
  -moz-box-shadow: inset -2px 3px 2px #dadada, -2px 0 2px rgba(218,218,218,0.6), -3px 0 2px rgba(218,218,218,0.4), -4px 0 2px rgba(218,218,218,0.2);
}
.seach_btn span{
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  margin-top: 7px;
  background: url(../images/seach_btn.png) 0 0 no-repeat;
}

.dropdown_form{
  background-color: #fff;
  padding: 16px;
  border-radius: 0 4px 4px 4px;
  -webkit-box-shadow: -2px 2px 6px rgba(0,0,0,0.25);
  -moz-box-shadow: -2px 2px 6px rgba(0,0,0,0.25);
  box-shadow: -2px 2px 6px rgba(0,0,0,0.25);
}
.drop_down.drop_down_right .dropdown_form{
  border-radius: 4px 0 4px 4px;
}

.dropdown_form input[type="text"], .dropdown_form textarea{
  color: #a8a7a7;
}
.dropdown_form input[type="text"]:focus{
  color: #1f1b1b;
}

.dropdown_form .update_btn{
  width: 10px;
  padding: 0;
  height: 10px;
  margin-top: 10px;
}
/*===========breadcrumbs==========*/
.breadcrumbs {
  display: block;
  list-style: none;
  font-size: 14px;
  line-height: 24px;
  padding-top: 31px;
  padding-bottom: 20px;
}
/*===========breadcrumbs end==========*/
/*=====================> Content ========================*/
#content {padding:0px 0px 0px 0px;}

/*catalog*/

.catalog_box{
  position: relative;
  color: #fff;
  background-color: #e4373c;
  font-weight: 600;
  padding: 25px 0;
  height: inherit;
  z-index: 1;
}
.catalog_box:before{
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  background-color: #e4373c;
  width: 1000px;
  top: 0;
  right: 0;
  z-index: -1;
}
.catalog_title{
  font-size: 24px;
  line-height: 26px;
  font-weight: 600;
  margin-bottom: 10px;
}
.catalog_item{position: relative;}
  .catalog_link{
    font-size: 13px;
    line-height: 14px;
    color: #fff;
    padding: 6px 0;
    display: block;
    margin-left: -15px;
    padding-left: 15px;
    -webkit-transition: all 0;
    -o-transition: all 0;
    transition: all 0;
  }
  .catalog_item:hover .catalog_link{
    background-color: #1f1b1b;
  }
    .sub_catalog_list{
      display: none;
      position: absolute;
      background-color: #1f1b1b;
      width: 220px;
      left: 100%;
      top: -67px;
      padding: 16px 20px;
      z-index: 99;
    }
    .catalog_item:hover .sub_catalog_list{display: block;}
      .sub_catalog_item{padding: 3px 0;}
        .sub_catalog_link{
          font-size: 13px;
          line-height: 14px;
          color: #fff;
        }
        .sub_catalog_link:hover{color: #e4373c;}

  /*slider*/

  .main_slider_bg{
    background: url(../images/main_slider_bg.jpg) 0 0 no-repeat;
    top: 0;
    left: -31px;
    height: 100%;

  }
  #main_slider{height: 400px;}
    .main_slider_img{
      margin-right: -30px;
      height: 400px;
    }
    .main_slider_img img{
      display: inline-block!important;
      vertical-align: bottom;
    }
    .main_slider_box{
      padding: 160px 10% 0 48px;
      color: #fff;
      height: 400px;
    }
      .main_slider_title1{
        font-size: 24px;
        line-height: 48px;
        font-weight: 600;
      }
        .main_slider_title1 i{
          display: block;
          left: -31px;
          top: 10px;
          width: 21px;
          height: 27px;
          background: url(../images/main_slider_title1.png) 0 0 no-repeat;
        }
      .main_slider_title2{
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
      }

  .owl-nav div{
    position: absolute;
    width: 14px;
    height: 26px;
    top: 50%;
    left: 0;
    text-indent: -99999px;
    margin-top: 35px;
    background: url(../images/slider_arrows_light.png) 0 0 no-repeat;
  }
  .owl-buttons div:hover{
    opacity: 0.5;
  }
  .owl-nav div.owl-next{
    left: inherit;
    right: 0;
    background-position: right 0;
  }

  /*news slider*/

  .news_slider{
    padding: 0 27px 35px;
  }
  .news_slider_item{
    padding: 0 27px;
  }

  .news_slider_data{
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
  }
  .news_slider_data strong{
    display: block;
    font-size: 24px;
    line-height: 24px;
  }
  .news_slider_text{
    overflow: hidden;
    padding-left: 14px;
    color: #999;
  }

.news_slider .owl-nav div{
  margin-top: 0;
  top: 5px;
}

/*providers slider*/
.providers_slider{padding: 0 70px 20px;/*padding: 0 70px 0px;*/}
.providers_slider_item{
  height: 75px;
  line-height: 72px;
  vertical-align: middle;
  text-align: center;
}
.providers_slider_item img{
  vertical-align: middle;
  opacity: 0.5;
}
.providers_slider_item:hover img{opacity: 1;}
.providers_slider .owl-nav div{
  top: 50%;
  margin-top: -13px;
  background-image: url(../images/slider_arrows_dark.png);
}

/*================================>> Footer <<========================================*/
footer {
  padding: 35px 0 10px;
  font-size: 13px;
  line-height: 26px;
  color: #fff;
}

  .contacts dt,.contacts dd{
    display: inline-block;
  }
  .contacts dd, .contacts_item{padding-left: 5px;padding-right: 8px;}
    .contacts dd a.black_btn{margin-left: 10px;}

  .footer_bottom{
    font-size: 13px;
    line-height: 30px;
    color: #999;
  }
    .footer_list_item{float: left;padding-left: 13px;}
      .footer_list_link{color: #999;}
      .footer_list_link:hover{text-decoration: underline;}
