/*--privat_office-*/
.pers_manager_box{
	top:16px;
	right:0;
}
.pers_manager figcaption{
	padding: 0 8px;
}
.resp-list_item1{
	background: url(../images/icon/orders_lk.png) 15% 45% no-repeat;
	text-align: right;
	padding-right: 20px;
	width: 25%;
}
.resp-tab-active.resp-list_item1{
	background: url(../images/icon/orders_lkactive.png) 15% 45% no-repeat;
}
.resp-list_item2{
	background: url(../images/icon/history.png) 10% 45% no-repeat;
	text-align: right;
	padding-right: 3%;
	width: 33.3%;
}
.resp-tab-active.resp-list_item2{
	background: url(../images/icon/history_active.png) 10% 45% no-repeat;
}
.resp-list_item3{
	background: url(../images/icon/user.png) 7% 45% no-repeat;
	text-align:left;
	padding-left: 6%;
	width: 25%;
}
.resp-tab-active.resp-list_item3{
	background: url(../images/icon/user_active.png) 7% 45% no-repeat;
}
.sh_box{
	-moz-box-shadow: inset 0 -3px 20px #e9e9e9;
	-webkit-box-shadow: inset 0 -3px 20px #e9e9e9;
	box-shadow: inset inset 0 -3px 20px #e9e9e9;
	padding-bottom:14px;
}
.sh_box1{
	-moz-box-shadow: inset 0 -3px 20px #e9e9e9;
	-webkit-box-shadow: inset 0 -3px 20px #e9e9e9;
	box-shadow: inset inset 0 -3px 20px #e9e9e9;
	padding-bottom:26px;
}
.pers_men_inner{
	padding-top: 15px;
}
.calendar_box input{
	width: 52%;
	background: url(../images/icon/picker.png) 90% 50% no-repeat;
	padding: 0 8px;
	line-height: 32px;
}
.discount{
	padding-bottom: 27px;
}
.sorting{
	padding: 12px 0 8px;

}
.sorting_box{
	margin-right: 17px;
}
.sorting_btn, .sorting_btn2{
	border:none;
	color:#888;
	line-height: 16px;
	border-bottom: 1px dashed #888;
	right:20px;
	background: transparent;
	padding:0;
}
.sorting_btn:hover,.sorting_btn2:hover{
	border-bottom: 1px dashed transparent;
}
.sorting_btn{
	top:50%;
	margin-top:-10px;
}
.sorting_btn2{
	top:0;
}
.order_tb {
	table-layout:fixed;
}
.order_tb th{
	text-align: left;
	font-weight: 400;
	opacity: .5;
	padding-bottom:8px;
}
.order_tb .order_overlay:hover{
	background-color:rgba(243,243,243,0.8);
	display:block;
	left:0;
	right:0;
	top:0;
	bottom:0;
	cursor:pointer;
}
.order_tb td{
	padding-bottom:28px;
}
.order_tb td.order_overlay{
	padding: 0;
}
.order_tb .col1{
	width:16%;
}
.order_tb .col3{
	width: 10%
}
.order_tb .col4{
	width: 11%;
}
.order_tb .col5{
	width: 18%;
}
.order_tb .col6{
	width: 8%;
}
.order_tb .col7{
	width:3%;
}
.order_tb .col8{
	width:14%;
}
.order_tb .col9{
	width:7%;
}
.setting_user{
	width:33.3%;
}
.title_id{
	color: #808080;
}
.orders_office_more{
	width:100%;
}

.orders_office_more td{
	padding-bottom:10px;
}
.orders_row_more>td{
	padding:0;
	margin:0;
	height:auto;
}
.orders_more_box{
	display:none;
	margin:0 -20% 0 -20%;
	padding:20px 20% 40px;
	-webkit-box-shadow:inset 0 -2px 12px #e7e7e7,inset 0 2px 12px  #e7e7e7;
	-moz-box-shadow:inset 0 -2px 12px #e7e7e7,inset 0 2px 12px  #e7e7e7;
	box-shadow:inset 0 -2px 12px #e7e7e7,inset 0 2px 12px  #e7e7e7;
	background-color:#f8f8f8;
}

.orders_more_links [class*="_btn"]{
	letter-spacing:-1px;
}
.active.orders_more_box{
	display:block;
}
.catalog_box.catalog_hidden{
	position: absolute;
	z-index: 10;
	top:0;
	width:calc(100% - 30px);
	padding: 6px 0 0;
	border-radius: 0 0 15px 0;
	
}
.catalog_user{
	padding: 22px 0 20px;
}
.catalog_hidden.catalog_box:before{
	border-radius: 0 0 15px 0;
}
.catalog_hidden{
	cursor: pointer;
}
.catalog_hidden .catalog_list{
	display: none;
}
.catalog_list{
	padding-bottom: 6px;
}
.active.catalog_list{
	display: block;
}
.catalog_hidden .catalog_title:after{
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../images/icon/catalog_btn.png) 0 50% no-repeat;
	margin: 5px 0 0 70px;
}
.form_box_subscrib{
	line-height:32px;
	padding-left:5px;
}

.gldp-default, .calendar_select{
	position: absolute;
	width: 241px;
	height: 200px;
	top:140px!important;
	left:300px!important;
}
.gldp-default{
 	display: none !important;
 }
.click_date:focus + .gldp-default{
	display: block !important;
}

/*====seach===*/
.search_sorting_box{
	padding: 30px 0 24px;
}
.search_title{
	padding: 22px 0 33px;
}
.form_box_check{
	padding-bottom:3px;
}
.provid_box_lb{
	color: #888;
	background-color:transparent;
	margin-right: 5px;
	padding: 0px 6px 0px;
	line-height: 22px;
}
.units_inner{
	line-height: 32px;
	margin-left: 10px;
}
.print_btn{
	background: url(../images/icon/print.png) 50% 50% no-repeat;
	height: 32px;
	width: 32px;
	border: 2px solid #1f1b1b;
	background-color:transparent;
	padding: 0 12px;
	border-radius: 5px;
	display: inline-block;
}

.pers_men_inner .drop_down{
	width:284px;
}
.basket_box_links button{
	margin-right: 10px;
}
.basket_tb td{
	padding-bottom: 15px;
}
.basket_box_links .white_btn{
	line-height: 30px;
}
.pdf_btn{
	background: url(../images/pdf_img.png) left 50% no-repeat;
	padding-left:15px;
	text-decoration: underline;
	display: block;
}
.pdf_btn:hover{
	text-decoration: none;
}
.pdf_type_btn{
	background: url(../images/pdf_img.png) 5px 50% no-repeat;
}
input[type="checkbox"]:checked + .provid_box_lb{
	background-color:#e4373c;
	color: #fff;
	border-radius: 5px;
}
.basket_box .drop_down{
	width: 393px;
}
.basket_td{
	width: 100%;
}
.basket_num{
	display: inline-block;
}
.basket_price{
	display: inline-block;
}
.product_num{
	width:40px;
}
.scroll-pane{
	height:120px;
	overflow:auto;
	width:100% !important;
}
.basket_closed{
	display:inline-block;
	width:9px;
	height:18px;
	background:url(../images/icon/closed_btn.png) 50% 50% no-repeat;
	cursor:point;
}
.basket_closed:hover{
	opacity:0.5;
}
/*=====ordering====*/
.ordering_box{
	padding-top:25px;
}
[class*="ordering_list_item"]{
	counter-increment: point;
	display: inline-block;
	width: 18%;
	font-size: 18px;
	font-weight:600;
	opacity: 0.25;
	text-align: center;
	position:relative;
	
}
.ordering_list_lk{
	position: absolute;
	left:0;
	right: 0;
	top:-5px;
	padding: 5px 0 15px;
	/*background-color:#fff;*/
	display: block;

}

[class*="ordering_list_lk"]:before{
	content: counter(point);
	display:inline-block;
	border-radius: 100%;
	background-color:#e4373c;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	text-align: center;
	font-size: 14px;
	font-weight:700;
	color:#fff;
}
.current[class*="ordering_list_item"]{
	opacity: 1;
}
.current[class*="ordering_list_item"] a{
	background-color: #fff;
}
.ordering_delivery_list{
	margin-top:-60px;
	margin-left: 15%; 
	counter-reset: point;
	width: 60%;
}
.form_box_sub{
	text-align: right;
	padding-right: 10px;
	width: 23%;
}
.box_order_links{
	padding: 25px 0 40px;
}
.box_order_links>button{
	margin-right: 20px;
}
.ordering_data{
	text-align: right;
	padding-right: 15px;
	width: 18.5%;
	color:#cbcbcb;
}
.ordering_data_sum{
	margin-left: 18px;
}
.ordering_tabs_list{
	width: 19%;
	-webkit-box-shadow: inset -2px -2px 10px rgba(233,233,233,0.2),inset -2px -2px 4px rgba(233,233,233,0.2), inset -2px -2px 4px rgba(233,233,233,0.2);
	-moz-box-shadow: inset -2px -2px 10px rgba(233,233,233,0.2),inset -2px -2px 4px rgba(233,233,233,0.2), inset -2px -2px 4px rgba(233,233,233,0.2);
	box-shadow: inset -2px -2px 10px rgba(233,233,233,0.2),inset -2px -2px 4px rgba(233,233,233,0.2), inset -2px -2px 4px rgba(233,233,233,0.2);
}
.ordering_tabs_item{
	display: block;
	font-size: 14px;
	opacity: 0.5;
	font-weight: 600;
	padding: 0 10px 20px 0;
	float: none;
}
.ordering_tabs .resp-tab-active{
	opacity: 1;
}
.ordering_tabs_item span{
	font-size: 13px;
	color: #a69090;
	font-style:italic;
}
.ordering_tabs .resp-tabs-container{
	width: 80%;
	clear:none;
}
.ordering_tabs .resp-tab-content{
	padding:0 30px 20px 50px;
	
}
.delivery_textarea{
	height:32px;
	resize:none;
}
.payments_links{
	padding: 33px 0 5px;
	width: 60%;
}
.payments_message{
	opacity: 0.5;
}
.payments_links figure{
	margin-right: 10px;
	
}
.payments_links figcaption{
	color:#bebebe;
	letter-spacing: -1px;
}
.payments_links figure:hover{
	opacity: 0.8;
}
.payments_lk{
	display:block;
	border-radius:3px;
	border:1px solid #ececec;
}
.links_data_lk{
	padding-left:30px;
	margin-top:-10px;
}

